<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <meta charset="UTF-8">
  <title>NBA News & Info</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
 <link href="/static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href='/'\ 
        class="brand-logo">THU</a>
      <!--ul class="right hide-on-med-and-down">
        <li><a href="">Navbar Link</a></li>
      </ul-->

      <!--ul id="nav-mobile" class="sidenav">
        <li><a href="">Navbar Link</a></li>
      </ul-->
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <div class="row center">
        <img src="/static/image/nbaLogo.png" width=59%, height=50%>
        <h2 class="header center red-text"><b><B><I>NBA News & Info</I></B></b></h2>
      </div>
      <div class="row center">
        <div class="container">
            <form name="searchForm",method="post", action="/SearchSite/">
                <div class="input-field">
                    <div class="row">
                        <input type="text" name="keywords" class="col s8 offset-s1">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <button class="btn waves-effect waves-light" type="submit">Search</button>
                    </div>
                </div>
            </form>
        </div>
      </div>
      <br><br>

    </div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text">
              <i class="material-icons">
                <a href="/?state={{state}}">flash_on</a>
              </i>
            </h2>
            <h5 class="center"><a href="/?state={{state}}">{{data}}</a></h5>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text">
              <i class="material-icons">
                <a href="/TeamRank/">group</a>
              </i>
            </h2>
            <h5 class="center"><a href="/TeamRank/">Teams Ranking</a></h5>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text">
              <i class="material-icons">
                <a href="javascript:document.searchForm.submit();">search</a>
              </i>
            </h2>
            <h5 class="center"><a href="javascript:document.searchForm.submit();">News Search</a></h5>
          </div>
        </div>
      </div>

    </div>
    <br><br>
  </div>

  <footer class="page-footer orange">
      <div class="container">
      Made by Materialize 
      </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/static/js/materialize.js"></script>
  <script src="/static/js/init.js"></script>

  </body>
</html>
