<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <meta charset="UTF-8">
  <title>球队热度榜</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href='/'\ 
        class="brand-logo">THU</a>
      <!--ul class="right hide-on-med-and-down">
        <li><a href="">Navbar Link</a></li>
      </ul-->

      <!--ul id="nav-mobile" class="sidenav">
        <li><a href="">Navbar Link</a></li>
      </ul-->
    </div>
  </nav>


  <div class="container">
    <h2 class="header center red-text"><b><B><I>球队热度榜</I></B></b></h2>
    <div class="section">
      <div class="center">
        <div class="row">
          {% for team in teams %}
            <div class="col s3">
              <a href="TeamSite/{{team.id}}"><img src="{{team.image}}" width=58%, height=60%></a><br>
              <B>热度：{{team.rank}}<br><a href="TeamSite/{{team.id}}">{{team.chName}}{{team.enName}}</a></B>
            </div>
          {%endfor%}
        </div>
      </div>
    </div>
    <br><br>
  </div>

  <footer class="page-footer orange">
      <div class="container">
      Made by Materialize
      </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/static/js/materialize.js"></script>
  <script src="/static/js/init.js"></script>

  </body>
</html>

